body {
  margin-top: 80px;
  background-color: #333333;
  color: #fff;
}
.custom-card {
  min-height: 50px;
  padding-top: 10px;
}
.custom-card h4, .custom-card p {
  padding-left: 15px;
}

select {
  margin-left: 15px;
}
